/* CSS Variables */
:root {
  --blue-gray: #3b4954;
  --grayish-blue: #c0c7cf;
  --white: #ffffff;
}

/* Universal styling */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General element styling */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fbfd;
  font-family: sans-serif;
}

/* Header section styling */ 
header {
  color: var(--blue-gray);
  padding: 20px;
  text-align: center;
}

/* Main section styling */
main {
  background-color: var(--white);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--blue-gray);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header h2 {
  text-align: center;
}

.card-footer {
  text-align: center;
}

.btn {
  background-color: #d22d29;
  border: none;
  border-radius: 25px;
  box-shadow:  0px 1px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
}

/* Hover effect on the button */
.btn:hover {
  background: #af0815;
}

/* Active effect on the button */
.btn:active {
  background: #16B4B2;
}

button {
  cursor: default;
  background: var(--grayish-blue);
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--grayish-blue);
  border-radius: 6px;
  display: block;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  resize: none;
  text-align: center;
  width: 100%;
}

/* Media Queries */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
